@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);

body {
  font-family: 'Raleway', sans-serif;
  background-color:#B5fed9
}

ul {
  padding:0;
  list-style-type:none;
}

li {
  display:inline-block;
}

img {max-width:100%;
}