@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);

body {
  font-family: 'Raleway', sans-serif;
  background-color:#B5fed9
}

ul {
  padding:0;
  list-style-type:none;
  text-align: center;
}

li {
  display:inline-block;
}

img {max-width:100%;
}

.left {
float:left;
width:33.33%;
}

.right {
float:right;
width: 66%;
}

.right > img {
	float:left;
	width:75%;
}

.right > div {
	float:right;
	width:25%;
}

@media screen and (max-width: 1000px) {
    .left, .right {
        float: none;
        width: auto;
    }
}
@media screen and (max-width: 750px) {
    .right > img, .right > div {
        float: none;
        width: auto;
    }
}
